@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', FontAwesome ,sans-serif;
    background-color:  #ffffff;
    border-top: 10px solid #22b5ae;
}

html, body {
    height: 100vh;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none !important;
}

.body-wrap {
    min-height: 100%
}

.content {
    margin: auto;
    background-color:#ffffff;
    padding: 20px 0;
    width: 100%;
}
.container {
    max-width: 95%;
}
/** Footer */
.footer {
    background-color:#b3c6c7 ;
    color:white !important;
    padding: 10px 30px; 
    margin-bottom: 0;
    bottom: 0; 
    height: auto;
    overflow: hidden;
    flex: 1;
}

.footer a {
    text-decoration: none;
    color:white !important;
    font-size: 14px;
}
.footer-wrap {
    width: 95%;
    padding: 3px;
    margin: auto;
}

.footer h1 {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.15em;
    word-wrap: break-word
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer ul li {
    padding: 0;
    margin: 5px 0;
}

.footer ul li a:hover{
    text-decoration: none;
}

.footer .col {
    display: inline-block;
    height: 100%;
}
.footer .col.newsletter {
    height: auto;
}

/*Footer newsletter form*/
.footer-form {
    width: 100%;
}
.footer-form input {
    outline: none;  
    color: black
}

input[type="text"] {
    font-family: 'Open Sans', FontAwesome ,sans-serif;
    padding: 5px !important;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    font-size: 14px;
    text-overflow: ellipsis;
    height: 35px;
}

.footer-form input {
    display: inline-block;
    border: none;
    box-sizing: border-box;
}

.primary-btn {
    height: 35px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 550;
    background-color: #22b5ae;
}

/** subscribe status */
.footer span {
    font-size: 12px;
}
.footer .subscribe-fail {
    color: red;
    font-style: italic;
}
.footer .subscribe-success {
    color: green;
    font-style: italic;
}
.footer .subscribe-loading {
    color: white;
    font-style: italic;
}
.text-loading .fa-spinner{
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
/**animation */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (min-width: 940px) {
    .content .container {
        max-width: 80%;
    }
    
    .footer .col {
        width: 28% !important;
        display: inline-block;
    }

    .footer .col.newsletter {
         width: 40%  !important ;
    }
  
    input[type="text"] {
         width: 60%;
    }
}
@media (max-width: 940px) {
    .footer-form input {
        width: 100%;
    }
    .navbar a {
        font-size: 12px !important;
    }
}

@media (min-width: 768px){
    .container {
        width: 95%;
        max-width: 95%;
    }
    .content .container {
        width: 90%;
        max-width: 90% !important;
    }
    .footer .col {
        width: 31%;
    }
}

@media (max-width: 768px) {
    /** Stop pushing content down when collapsing menu */
    .navbar {
        position: absolute;
        z-index: 1;
        width: 100%;
        margin-bottom: 10px;
    }
    .content {
        margin-top: 90px;
        position: relative;
    }
    .footer .col {
        width: 48%;
        display: inline-block;
    }
    .footer .col.newsletter {
         width: 100%;
    }
    .footer h1 {
        font-size: 18px;
    }
    .footer-wrap {
        width: 100%;
        
    }
}
@media (max-width: 576px) {
    .footer .col {
        width: 90%;
    }
}

@media (max-width: 320px) {
    .footer {
        padding: 10px;    
    }
    .footer .col {
        width: 100%;
    }
}