/* Navbar styles */
#navbar {
    background-color: white !important; 
}

.navbar .nav-brand {
    width: 200px;
    float: left;
}   

.navbar .nav-brand img {
    margin: 0;
    width: 100%
}

.navbar a:not(#shopping-cart) {
    color: black;
    font-weight: bold;
}

.navbar a.nav-link {
    color: black;
    font-size: 14px;
}

.navbar a#sale {
    color: red;
}

.top-bar {
    width: 100%
}

.nav-fa-icons {
    font-size: 28px;
    font-weight: bold;
}

#shopping-cart {
    border: #dddddd 1px solid;
    border-radius: 3px;
    display: block;
    padding: 4px;
    background-color: #dddddd;
    font-size: 18px !important;
}

.nav-btn {
    float: right;
    height: 100%;
    margin: 0 5px; 
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.navbar-toggler {
    background-color: #dddddd!important;
    border-color: #dddddd!important;
}

#cart-info {
    display: none;
}

li.nav-item {
    padding: 0 10px;
    border: solid 4px #ffffff;
}

/** Dropdown */
ul.dropdown-menu {
    background-color: #b3c6c7;
}
.dropdown-caret {
    display: none;
}
li.nav-item.collections {
    position: relative;
}
li.nav-item.collections a:not(.collections) {
    font-weight: 400 !important;
}

li.nav-item.collections .dropdown-menu .dropdown-submenu , ul.dropdown-secondmenu li{
    position: relative;
    padding: 3px 8px;
}

li.nav-item.collections .dropdown-menu .dropdown-submenu a {
    font-weight: 400;
}
li.nav-item.collections .dropdown-menu .dropdown-submenu .dropdown-secondmenu {
    position: absolute;
    top: 0;
    left: 158px;
    z-index: 1000;
    display: none!important;
}

/** Nav bar hover and active styles */
#shopping-cart:hover {
    text-decoration: none;
}
.navbar a:hover {
    text-decoration:none;
}
.nav-btn:hover {
    cursor: pointer;
}

/** Responsive */
@media (min-width: 940px) {
    .navbar .nav-brand {
        width: 250px
    }
    .nav-container {    
        min-width: 900px;
    }
}

@media (min-width: 768px) {
    .top-bar {
        border-bottom: 5px solid black;
    }
    .nav-container {    
        min-width: 760px !important;
        width: auto;
        max-width: 800px !important;
    }
    #cart-info {
        display: inline;
    }
    #shopping-cart {
        border: #4a4a4a 1px solid;
        border-radius: 5px;
        padding: 5px 10px;
        background-color: #ffffff;
        color: #4a4a4a !important;
    }
    .dropdown-caret {
        float: right;
        visibility: visible;
    }
    /** hover li nav item effect works only when the nav is not collapsed*/
    li.nav-item:hover{
        background-color: #2b2a2a !important;
        border: none;
        border-bottom: #22b5ae 4px solid;
    }
    li.nav-item:hover a.nav-link:not(#sale){
        color: white !important
    }
    li.nav-item.collections .dropdown-menu .dropdown-submenu:hover, ul.dropdown-secondmenu li:hover {
        background-color: #a19f9e;
    }
    li.nav-item.collections .dropdown-menu .dropdown-submenu:hover .dropdown-menu  {
        display: block !important;
        position: absolute;
    }
    li.nav-item.collections:hover .dropdown-menu {
        display: block !important;
    }
 }
@media (max-width: 768px) {
    li.nav-item.collections .dropdown-menu {
        display: block !important;
        background-color: white;
        border: none;
    }
     li.nav-item.collections .dropdown-menu .dropdown-submenu .dropdown-secondmenu {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1000;
        display: block!important
    }
    li.nav-item {        
        display: block;
        width: 100%;
        border-bottom: #b3c6c7 1px solid;
    }
}

@media (max-width: 576px) {
    .navbar .nav-brand {
        width: 160px
    }    
    .navbar-toggler {
        text-align: right;
        cursor: pointer; 
    }
    .nav-fa-icons {
        font-size: 20px;
        font-weight: bold;
    }
}

@media (max-width: 320px) {
    .navbar .nav-brand {
        width: 120px
    }
}